{% extends 'base.html' %}

{% block content %}

<div class="span16">
                                <article>
                                    <h1><i></i>Witamy na stronie naszej kliniki.</h1>
                                    <p>Jesteśmy nowoczesną przychodnią, którą wyróżnia nowoczesny elektroniczny system obsługi pacjenta. Każdy nowy pacjent otrzymuje dostęp do informacji na temat swojej osoby, historii leczenia czy wyników badań. Wystarczy się zarejestrować, założyć w swoim profilu kartę pacjenta i korzystać z usług naszej kliniki. Zapraszamy!</p>
                                    <figure>
                                        <img src="/static/img/aboutUsSample.jpg" alt="" />
                                    </figure>
                                </article>
                            </div>

{% endblock %}
