{% extends 'base.html' %}

{% block content %}
    <div style="margin-left:25px;">
    {% if form.errors %}
        <p>Nieprawidłowy login lub hasło</p>
    {% endif %}

    <form action="/auth/" method="post"> {% csrf_token %}
    	<label for="username">Login:</label>
    	<input type="text" name="username" value="" id="username">
    	<label for="password">Hasło:</label>
    	<input type="password" name="password" value="" id="password">
        <br>
    	<input type="submit" value="Zaloguj" class="btn btn-default" />

    </form>
    </div>
{% endblock %}